.form-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.form-holder form {
    width: 35%;
    border: 1px solid;
    padding: 40px 20px;
    border-radius: 10px;
}
.form-holder input  , .form-holder button {
    width: 90%;
    height: 30px;
    margin: 10px auto;
    font-size: large;
    padding: 5px;
}   
.form-holder div{
    text-align: center;
}
.form-holder button{
    height: 40px;
    width: 92%;
    background-color: green;
    border: none;
    color: #fff;
}
h1{
    text-align: center;
}
